<div class="contents row">
  <div class="device_form">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class: "f_label" %><br />
    <%= f.email_field :email, autofocus: true, class: "f_area" %>
  </div>

  <div class="field">
    <%= f.label :password , class: "f_label"%><br />
    <%= f.password_field :password, autocomplete: "off", class: "f_area" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.label :remember_me , class: "f_label"%>
      <label>
      <%= f.check_box :remember_me, class: "f_check"%>
      <span class="checkbox-icon"></span>
      </label>
    </div>
  <% end -%>

  <div class="actions">
    <label for="loginbtn" class="login">
    <div>Log in</div>
    <%= f.submit "Log in", id: "loginbtn"%>
    </label>
  </div>
<% end %>
<%= render "devise/shared/links" %>

</div>
</div>
