<html>
  <head>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <title>inhouse/あなたを必要としているユーザーを見つけよう</title>
  </head>
  <header>
    <div class="navbar">
      <%= link_to (image_tag 'inhouse.png', :size => "150x42", :alt => "アイコン"), root_path, method: :get, class: "title"%>
        <div class="btn">
          <% if current_user %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "square_btn" %>
            <%= link_to current_user.nickname, "/users/#{current_user.id}", method: :get,class: "square_btn" %>
            <%= link_to "募集する", new_usertest_path, method: :get,class: "square_btn" %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path, :class => 'post', class: "square_btn"%>
            <%= link_to "新規登録", new_user_registration_path, :class => 'post', class: "square_btn"%>
          <% end%>
      </div>
    </div>


</header>
  <body>

    <%= yield %>

</body>
</html>
